@import url('variables.css');


/* Common classes start */
.gb{
    border: 2px solid green;
}
.rb{
    border: 2px solid red;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--main-font);
}
.flex{
    display: flex;
}
.center{
    justify-content: center;
}
.text-center{
    align-items: center;
}
.space-btw{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.flex-wrap{
    flex-wrap: wrap;
}
.outer-container{
    width: 90%;
    margin: auto;
}
.outer-container-2{
    width: 95%;
    margin: auto;
}
.footer-container{
    width: 70%;
    margin: auto;
}
.w-400{
    font-weight: 400;
}
.w-500{
    font-weight: 500;
}
.w-600{
    font-weight: 600;
}
.w-700{
    font-weight: 700;
}
.md-font{
    font-size: var(--md-font-size);
}
.btn{
    background-color: var(--btn-bg-color);
    color: var(--btn-color);
    cursor: pointer;
    height: 2.5rem;
    width: 8rem;
    border-radius: .5rem;
    border: none;
}
.active:hover{
    color: var(--btn-color);
    background-color: var(--btn-active-bg);
    border-color: var(--btn-active-bg);;
}
.yellow-text{
    color: var(--btn-active-bg);
}
.white-text{
    color: var(--main-heading-color);
}
.gray-text{
    color: var(--gray-color);
}

/* Common classes end */


/* Nav styling start */

li{
    list-style-type: none;
}
nav{
    height: 100%;
}
header{
    height: 6rem;
    background-color: var(--nav-bg-color);
}
.nav-active:hover{
    text-decoration: underline;
    text-underline-offset: .4rem;
    text-decoration-color: var(--btn-active-bg);
    text-decoration-thickness: .16rem;
}
.nav-all-btn{
    width: 28rem;
}
i{
    font-size: 1.5rem;
}
#menu-btn{
    display: none;
}

#main-mobile-view{
    min-width: 280px;
    border: .15rem solid green;
    flex-direction: column;
    background-color: var(--mobile-nav-bg);
    border-radius: 18px;
}
#mobile-view-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding:0px 20px;
}
.menu-active{
    position: absolute;
}
.menu-show{
    visibility: hidden;
}

.mobile-nav-item a{
    text-decoration: none;
    color: var(--btn-color);
}
.mobile-nav-item{
    padding: .7rem 0rem;
}
/* Nav styling end */

/* Main Page Styling Start */
main{
    background-color: var(--main-bg-color);
}
/* Main Page Styling End */


/* Profile Page Styling Start */
.profile-detail{
    width: 60%;
    /* flex-direction: column; */
    margin: var(--s-margin);
}
.profile-detail h1{
    font-size: var(--lg-font-size);
}
.profile-detail p{
    width: 75%;
    margin: 2rem 0rem;
}
.profile-detail h1 span{
    font-size: var(--lg-font-size);
}
.profile-image{
    justify-content: flex-end;
    width: 50%;
}

/* Profile Page Styling End */

/* Skill Page Styling Start */
#skill-container{
    background-color: var(--skill-bg-color);
}
.skill{
    margin: 1.3rem 0rem;
}
.skill h1{
    margin-left: 0.8rem;
    font-size: var(--xmd-font-size);
}
.skill-img{
    width: 1rem;
}
/* Skill Page Styling End */


/* Skill Page Styling Start */
.all-services{
    row-gap: 2.5rem;
}

.service{
    /* width: 27rem; */
    height: 7rem;
    /* border: 2px solid red; */
    font-size: var(--bigger-md-font-size);
    flex-basis: 31%;
    background-color: var(--service-bg-color);
    border-radius: 0.5rem;
}
#service-detail{
    margin: var(--very-small-margin);
    letter-spacing: .1rem;
}
#service-detail > h1{
    font-size: var(--xlg-font-size);
    text-align: center;
}
#service-detail > p{
    font-size: var(--xmd-font-size);
    text-align: center;
}
/* Skill Page Styling End */


/* Portfolio Page Styling Start */
#porfolio-container{
    margin-top: 8rem;
}
.box-img{
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
}

.box{
    flex-basis: 31%;
    padding: var(--box-padding);
    border: 0.3rem solid var(--gray-color);
    border-radius: 0.6rem;
    /* min-height: 420px; */
    aspect-ratio: 1;
}
#certificate-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
}
.certificate-box h2{
    margin-top: 1.8rem;
    font-size: 3vw;
}
.certificate-img{
    height: 5rem;
}
.box h3{
    font-size: var(--xxmd-font-size);
    margin: 1rem 0rem;
}
.box-inside-padding{
    padding: var(--very-smalll-padding);
}
.box-1{
    letter-spacing: .1rem;
    /* font-size: var(--md-font-size); */
    font-size: 1.2vw;
}
/* Portfolio Page Styling End */

/* Certificate Page Styling Start */
.back{
    text-align: center;
}
.back h2{
    font-size: 2vw;
}
.back :first-child{
    color: var(--flip-hover-color);    
}
.certificate-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.back{
    display: none;
}
.flip-card:hover{
    color: var(--btn-color);
    background-color: var(--btn-active-bg);
    border-color: var(--btn-active-bg);
}
.flip-card:hover .front{
    display: none;
}
.flip-card:hover .back{
    display: block;
}
/* Certificate Page Styling Start */


/* Footer Page Styling Start */
footer{
    background-color: var(--nav-bg-color);
    padding: 3rem 0rem;
}
#footer{
    width: 83%;
    gap: 2rem;
}
.f-logo{
    height: 12rem;
    width: 18rem;
    margin: auto 0rem;
    flex-direction: column;
}
.f-logo img{
    height: 2.9rem;
}
.f-icons{
    flex-direction: column;
    padding: 0rem 4rem;
}
.f-buttons{
    flex-direction: column;
    padding: 0rem 1.7rem;
}
.f-buttons li{
    font-size: var(--xxmd-font-size);
}
.f-btn{
    font-weight: 300;
    font-size: 1.3rem;
    padding: 1rem 3rem;
    border: .3rem solid var(--gray-color);
    border-radius: 5rem;
    background: none;
    cursor: pointer;
    max-width: 15rem;
}
.f-buttons span, .f-icons span{
    flex-direction: column;
}
.footer-left-border{
    border-left: .3rem solid var(--gray-color);
    height: 20rem;
}
.f-span{
    height: 100%;
}

/* Footer Page Styling End */

